@font-face {
   font-family: 'allura.regular';
   font-display: swap;
   src: url('file:///C:/Users/oscar/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-16_135444/fonts/allura.regular/font.ttf');
}
